*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container-fluid img{
    max-width: 99%;
    min-width: 99%;
}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: fit-content;
    padding: 20%;
    border-bottom: 10%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}