<link rel="stylesheet" href="{{url_for('static', filename='css/booking.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends 'layout.html' %}
{% block title %}Service Booking{% endblock %}
    {% block body %}
        {% for row in serviceData %}
            <div class="container-sm">
                <section>
                    {% if not session['loggedin'] %}
                    <div>
                        <a href="/"><button class="btn btn-outline-dark">Back</button></a>
                    </div>
                    {% else %}
                    <div>
                        <a href="/service"><button class="btn btn-outline-dark">Back</button></a>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-2">
                            <h3>{{row[1]}}</h3>
                            <div class="box">
                                <img src="{{url_for('static', filename='images/' + row[2])}}">
                            </div>
                            <p>{{row[3]}}</p>
                            <p>{{row[4]}}</p>
                        </div>
                    </div>
                </section>
            </div>
            <div class="text-center">
                <a href="/booking_form?serviceId={{row[0]}}"><button class="btn btn-info">Booking The Service Now</button></a>
            </div>
        {% endfor %}
    {% endblock %}