{% extends 'layout.html' %}
{% block title %}Register{% endblock %}
{% block body %}

<link rel="stylesheet" href="{{url_for('static', filename='css/login&register.css')}}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">


    <div class="header">
        <div class="container">
            <div class="register">
                <h1>Register</h1>
                <div class="links">
                    <a href="/login">Login</a>
                    <a href="/register" class="active">Register</a>
                </div>
                <form class="ajax-form" action="http://127.0.0.1:5000/register" method="post" autocomplete="off">
                    <label for="username">
                        <i class="fas fa-user"></i>
                    </label>
                    <input type="text" name="username" placeholder="Username" id="username" required>
                    <label for="password">
                        <i class="fas fa-lock"></i>
                    </label>
                    <input type="password" name="password" placeholder="Password" id="password" required>
                    <label for="cpassword">
                        <i class="fas fa-lock"></i>
                    </label>
                    <input type="password" name="cpassword" placeholder="Confirm Password" id="cpassword" required>
                    <label for="email">
                        <i class="fas fa-envelope"></i>
                    </label>
                    <input type="email" name="email" placeholder="Email" id="email" required>
                    <div class="msg">{{ msg }}</div>
                    <div class="msg">{{ success }}</div>
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
    
{% endblock %}